.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(106, 57, 199, 1) 0%,
    rgba(238, 74, 135, 1) 100%
  );
  .iconGroup {
    display: flex;
    .iconGridCardBgHead {
      width: 750px;
      height: 480px;
    }
    .iconPrizeHistory {
      width: 60px;
      height: 60px;
      position: absolute;
      right: 0;
      margin: 20px;
    }
  }
  .cardBorderView {
    width: 689px;
    height: 720px;
    background: rgba(248, 245, 254, 1);
    border-radius: 20px;
    box-shadow: 0 0 40px 10px #ffa9bd inset;
    margin-top: -85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cardTitleView {
      width: 328px;
      height: 110px;
      margin-top: -35px;
      display: flex;
      .iconCardTitle {
        width: 328px;
        height: 110px;
      }
      .txt {
        position: absolute;
        width: 328px;
        text-align: center;
        line-height: 80px;
        font-size: 30px;
        font-family: PingFang SC;
        font-weight: 500;
        color: rgba(255, 255, 249, 1);
        letter-spacing: 5px;
      }
    }
    .redPacketView {
      width: 450px;
      height: 75px;
      display: flex;
      margin-top: 20px;
      .iconRedPacket {
        width: 450px;
        height: 70px;
      }
      .txt {
        width: 450px;
        height: 75px;
        text-align: center;
        position: absolute;
        font-size: 35px;
        font-family: PingFang SC;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 75px;
        .txt1 {
          color: #ff043e;
        }
      }
    }
    .cardView {
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      width: 600px;
      height: 500px;
      .project {
        position: absolute;
        float: left;
        width: 200px;
        height: 260px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        transition: all 1s cubic-bezier(0.68, -0.22, 0.265, 1.22);
        .iconBack {
          width: 180px;
          height: 240px;
        }
        .back,
        .front {
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          transform-style: preserve-3d;
          transition: all 1s cubic-bezier(0.68, -0.22, 0.265, 1.22);
          position: absolute;
          left: 10px;
          top: 10px;
          width: 180px;
          height: 240px;
        }
        .front {
          width: 180px;
          height: 240px;
          transform: rotateY(0);
        }
        .back {
          width: 180px;
          height: 240px;
          transform: rotateY(180deg);
        }
      }
      .back,
      .front {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: all 1s cubic-bezier(0.68, -0.22, 0.265, 1.22);
        position: absolute;
        left: 10px;
        top: 10px;
        width: 180px;
        height: 240px;
      }
      .flip {
        .back {
          width: 180px;
          height: 240px;
          transform: rotateY(0);
        }
        .front {
          width: 180px;
          height: 240px;
          transform: rotateY(180deg);
        }
      }
      .ani {
        top: 260px !important;
        left: 200px !important;
      }
      .item0 {
        top: 0;
        left: 0;
      }
      .item1 {
        top: 0;
        left: 200px;
      }
      .item2 {
        top: 0;
        left: 400px;
      }
      .item3 {
        top: 260px;
        left: 0;
      }
      .item4 {
        top: 260px;
        left: 200px;
      }
      .item5 {
        top: 260px;
        left: 400px;
      }
    }
  }

  // 奖品展示
  .prizeBorderView {
    width: 689px;
    min-height: 300px;
    background: rgba(248, 245, 254, 1);
    border-radius: 20px;
    box-shadow: 0 0 40px 10px #ffa9bd inset;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .prizeTitleView {
      width: 328px;
      height: 110px;
      margin-top: -35px;
      display: flex;
      .iconCardTitle {
        width: 328px;
        height: 110px;
      }
      .txt {
        position: absolute;
        width: 328px;
        text-align: center;
        line-height: 80px;
        font-size: 36px;
        font-family: PingFang SC;
        font-weight: bold;
        color: rgba(255, 255, 249, 1);
        letter-spacing: 10px;
      }
    }
    .prizeView {
      margin-bottom: 50px;

      .prizeItemView {
        width: 580px;
        height: 92px;
        border-bottom: 4px dashed rgba(255, 116, 148, 1);
        display: flex;
        flex-direction: row;
        .txt1 {
          margin-left: 30px;
          display: block;
          width: 250px;
          height: 92px;
          line-height: 92px;
          font-size: 32px;
          font-family: PingFang SC;
          font-weight: bold;
          color: rgba(255, 67, 67, 1);
        }
      }
    }
  }

  // 游戏规则
  .ruleBorderView {
    width: 689px;
    min-height: 220px;
    background: rgba(248, 245, 254, 1);
    border-radius: 20px;
    box-shadow: 0 0 40px 10px #ffa9bd inset;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ruleTitleView {
      width: 328px;
      height: 110px;
      margin-top: -35px;
      display: flex;
      .iconCardTitle {
        width: 328px;
        height: 110px;
      }
      .txt {
        position: absolute;
        width: 328px;
        text-align: center;
        line-height: 80px;
        font-size: 36px;
        font-family: PingFang SC;
        font-weight: bold;
        color: rgba(255, 255, 249, 1);
        letter-spacing: 10px;
      }
    }
    .ruleView {
      width: 620px;
      min-height: 100px;
      border-radius: 30px;
      font-size: 30px;
      font-family: PingFang SC;
      font-weight: 500;
      color: rgba(255, 49, 97, 1);
      white-space: pre-line; // h5
      padding: 25px 25px;
      line-height: 60px;
    }

    .iconGridCardBgBottom {
      width: 750px;
      height: 179px;
      margin-top: -60px;
    }
  }

  // 中奖提示弹窗
  .gridCard-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    touch-action: none;
    top: 0;
    left: 0;
    z-index: 999;
    .gridCard-modal-mask {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 0;
      touch-action: none;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .gridCard-modal-content {
      width: 750px;
      height: 450px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      .gridCard-modal-img {
        width: 580px;
        height: 690px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
      .txt1 {
        width: 750px;
        text-align: center;
        display: block;
        position: absolute;
        top: -48px;
        font-size: 40px;
        font-family: PingFang;
        font-weight: bold;
        color: rgba(255, 50, 51, 1);
        line-height: 80px;
      }
      .prizeName {
        width: 414px;
        text-align: center;
        display: block;
        position: absolute;
        top: 60px;
        font-size: 70px;
        font-family: Source Han Sans CN;
        font-weight: 800;
        color: rgba(255, 50, 51, 1);
        line-height: 74px;
        left: 170px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .noPrizeName {
        width: 750px;
        text-align: center;
        display: block;
        position: absolute;
        top: 40px;
        font-size: 30px;
        font-family: Source Han Sans CN;
        font-weight: 800;
        color: rgba(255, 50, 51, 1);
        line-height: 74px;
      }
      .noPrizeName1 {
        width: 750px;
        text-align: center;
        display: block;
        position: absolute;
        top: 90px;
        font-size: 30px;
        font-family: Source Han Sans CN;
        font-weight: 800;
        color: rgba(255, 50, 51, 1);
        line-height: 74px;
      }
      .btnGroup {
        position: absolute;
        top: 255px;
        font-size: 32px;
        font-family: PingFang;
        font-weight: 500;
        color: rgba(213, 59, 27, 1);
        line-height: 90px;
        text-align: center;
        margin-left: 160px;
        .giveUpPrizeBtn {
          width: 430px;
          height: 90px;
          background: rgba(255, 255, 255, 1);
          box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
          border-radius: 45px;
        }
        .getPrizeBtn {
          width: 430px;
          height: 90px;
          background: linear-gradient(
            0deg,
            rgba(255, 189, 5, 1) 0%,
            rgba(255, 241, 93, 1) 100%
          );
          box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
          border-radius: 45px;
          margin-top: 30px;
        }
      }
      .noPrizeBtn {
        position: absolute;
        top: 305px;
        width: 430px;
        height: 90px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
        border-radius: 45px;
        font-size: 32px;
        font-family: PingFang;
        font-weight: 500;
        color: rgba(213, 59, 27, 1);
        line-height: 90px;
        text-align: center;
        margin-left: 160px;
      }
    }
  }
  // 中奖历史弹窗
  .gridCard-history-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -180px;
    touch-action: none;
    left: 0;
    z-index: 999;
    .gridCard-history-modal-mask {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 0;
      touch-action: none;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .gridCard-history-modal-content {
      width: 750px;
      height: 900px;
      position: absolute;

      border-radius: 20px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      .iconSlotPrizeHistoryModal {
        width: 660px;
        height: 1000px;
        position: absolute;
        margin-left: 75px;
      }
      .gridCard-history-modal-table {
        width: 520px;
        height: 560px;
        overflow: auto;
        position: absolute;
        top: 320px;
        left: 122px;
        .gridCard-history-modal-item {
          width: 520px;
          height: 100px;
          margin-top: 10px;
          .firstView {
            width: 520px;
            height: 45px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .txt1 {
              display: block;
              text-align: center;
              line-height: 45px;
              font-size: 28px;
              font-family: PingFang SC;
              font-weight: bold;
              color: rgba(51, 51, 51, 1);
            }
          }
          .secondView {
            width: 520px;
            height: 45px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .txt1 {
              display: block;
              text-align: center;
              line-height: 45px;
              font-size: 24px;
              font-family: PingFang SC;
              font-weight: bold;
              color: rgba(153, 153, 153, 1);
            }
            .txt2 {
              display: block;
              text-align: center;
              line-height: 45px;
              font-size: 28px;
              font-family: PingFang SC;
              font-weight: bold;
              color: rgba(102, 102, 102, 1);
            }
          }
        }
      }
      .okBtn {
        width: 430px;
        height: 90px;
        background: linear-gradient(
          0deg,
          rgba(255, 189, 5, 1) 0%,
          rgba(255, 241, 93, 1) 100%
        );
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
        border-radius: 45px;
        position: absolute;
        top: 1040px;
        left: 160px;
        font-size: 32px;
        font-family: Adobe Heiti Std;
        font-weight: normal;
        color: rgba(213, 59, 27, 1);
        text-align: center;
        line-height: 90px;
      }
    }
  }
}
